.footer-container {
    background-color: var(--black-color);
    width: 90%;
    height: 100px;
    border-radius: 42px 42px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    

    .logo-section {
        display: flex;
        align-items: center;
        gap: 1rem;

        .logo {
            color: var(--white-color);
            font-family: var(--font-title);
        }
    }
    p {
        color: var(--white-color);
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}